$button-color-gradient: var(--button-color-gradient);
$button-color-backup: var(--button-color-backup);
$button-box-shadow: var(--button-box-shadow);
$button-box-shadow-hover: var(--button-box-shadow-hover);

.main-button {
  padding: 0.4em 1em;
  background: $button-color-backup;
  background: $button-color-gradient;
  color: $body-background-color;
  border-radius: 50px;
  box-shadow: $button-box-shadow;
  cursor: pointer;
  font-weight: normal;
  width: 120px;

  &:hover {
    animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
  }
}

@keyframes pulse {
  to {
    box-shadow: $button-box-shadow-hover;
  }
}


.loading {
  display: flex;
  margin: auto;
  border: 3px solid hsl(222, 100%, 85%);
  border-left-color: hsl(222, 100%, 100%);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: donut-spin 1.2s linear infinite;
}

@keyframes donut-spin {
  to {
    transform: rotate(1turn);
  }
}


.round-button {
  background: $button-color-backup;
  color: $body-background-color;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  border: none;
  box-shadow: $button-box-shadow;
  cursor: pointer;
  &:hover {
    animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
  }
}

.form-button {
  position: absolute;
  bottom: -20px;
  left: 75%;
}

.form-button:disabled {
  opacity: 0.85;
  cursor: not-allowed;
}

.round-button-footer {
  background: $title-color;
  color: $body-background-color;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  border: none;
  box-shadow: $button-box-shadow;
  margin: 15px;
  display: inline-block;
  cursor: pointer;
  &:hover {
    animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
  }
}
