.card {
  border-radius: 4px;
  width: 280px;
  background-color: $body-background-color;
  margin: 20px;
  a {
    color: #cf3f02;
    text-decoration: none;
  }

  .card-header {
    padding: 24px 16px;
  }

  .card-header + .card-body {
    margin-top: -24px;
    padding-top: 0;
  }

  .card-suptitle {
    font-size: 12px;
    line-height: 20px;
    margin: 0;
  }

  .card-title {
    font-size: 20px;
    line-height: 28px;
    margin: 0;

    a,
    a:visited {
      color: inherit;
    }
  }

  .card-details {
    border-top: 1px solid #ccc;
    font-size: 18px;
    line-height: 24px;
    padding: 16px 16px;
    margin-top: 24px;
  }
}

.textTransformX {
  transition: transform 0.2s ease, color 0.2s ease;
}

.textTransformX:hover {
  transform: translateX(4px);
}
