$contact-box-shadow: var(--contact-box-shadow);

.contact-card {
  background-color: $body-background-color;
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 4px;
  box-shadow: $contact-box-shadow;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  position: relative;
}
