$primary: var(--title-color);
$secondary: var(--title-color);
$gray: #bfbfbf;
.form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 80%;
}

.form-field {
  width: 100%;
  border: 0;
  border-bottom: 1px solid $gray;
  outline: 0;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  color: $text-color;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form-label {
    cursor: text;
    top: 20px;
  }
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: $gray;
}

.form-field:focus {
  ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: $primary;
  }
  padding-bottom: 6px;
  border-width: 2px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form-field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
