.bouncing-loader {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bouncing-loader > div,
.bouncing-loader:before,
.bouncing-loader:after {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: $text-color;
  margin-bottom: -5px;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div,
.bouncing-loader:before,
.bouncing-loader:after {
  content: '';
}

.bouncing-loader > div {
  margin: 0 5px;
}

.bouncing-loader > div {
  animation-delay: 0.2s;
}

.bouncing-loader:after {
  animation-delay: 0.4s;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}
