// darken ~ mix with black function
@function mixb($variable, $opacity) {
  @return unquote(
    'linear-gradient(to top,rgba(0, 0, 0,' + $opacity + '),rgba(0, 0, 0,' +
      $opacity + '))' + $variable
  );
}
// lighten ~ mix with white function
@function mixw($variable, $opacity) {
  @return unquote(
    'linear-gradient(to top,rgba(255, 255, 255,' + $opacity +
      '),rgba(255, 255, 255,' + $opacity + ')) ' + $variable
  );
}

$phone-width: 540px; // 540px
$tablet-width: 720px; // 720px
$desktop-width: 960px; // 960px
$large-desktop-width: 1180px;

@mixin phone {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
