.nav {
  background-color: $body-background-color;
  color: $title-color;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5em;

  @include tablet {
    margin-top: 3em;
  }

  @include phone {
    margin-top: 3em;
  }
}

.nav-links {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
}

@include phone {
  .nav-links :not(:first-child) {
    display: none;
  }
}

.nav-burger {
  display: none;
  color: $title-color;
  font-size: 20px;

  @include phone {
    display: block;
  }
}
