section {
  padding: 2rem 20%;
  @include tablet {
    padding: 2rem 11%;
  }

  @include phone {
    padding: 2rem 6%;
  }
}

section:nth-child(2) {
  background: $sec-body-background-color;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 10rem 20%;

  @include tablet {
    padding: 10rem 11%;
  }

  @include phone {
    padding: 10rem 6%;
  }
}
