.theme-switch {
  display: inline-block;
  width: 43px;
  height: 24px;
  background-color: #1ec3f4;
  background-image: url('~@/assets/background@2x.png');
  background-size: 100%;
  border-radius: 12px;
  position: relative;
  transition: all ease-in-out 0.4s;
  cursor: pointer;

  &:before {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    left: 3px;
    top: 3px;
    content: '';
    transition: all ease-in-out 0.4s;
    z-index: 10;
  }

  &.toggle-btn--dark {
    background-color: #13447e;

    &:before {
      left: 22px;
    }
  }
}
