.theme-switch {
  display: inline-block;
  width: 43px;
  height: 24px;
  background-image: url('~@/assets/background@2x.png');
  background-size: 100%;
  border-radius: 12px;
  border: 1px solid $text-color;
  position: relative;
  cursor: pointer;

  &:before {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $text-color;
    border-radius: 50%;
    left: 3px;
    top: 3px;
    content: '';
    z-index: 10;
  }

  &.toggle-btn--dark {
    &:before {
      left: 22px;
    }
  }
}
